@page "/"
@using global::Home.Recipes.WebClient.Components.Modals

<PageTitle>Recipes</PageTitle>

<section class="flex my-2">
    <FluentSearch @bind-Value="_searchText"
                  @bind-Value:after="SearchRecipesAsync"
                  Class="w-full mr-2"
                  Placeholder="Search"
                  AutoComplete="off"
                  Immediate="true"
                  ImmediateDelay="200" />

    <FluentButton @onclick="OpenCreateDialog"
                  Appearance="Appearance.Accent">
        ADD
    </FluentButton>
</section>

@if (_recipeList is null)
{
    <FluentProgressRing />
}
else
{
    <FluentGrid xs="12" sm="6" class="mb-1">
        @foreach (var recipe in _recipeList.Recipes)
        {
            <FluentGridItem>
                <FluentCard Width="310px" @onclick="@(_ => NavigateToRecipeDetails(recipe.RecipeId))">
                    <img class="w-full" src="@($"{_serverUrl}/{recipe.ImagePath}")">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">
                            @CutLongName(recipe.Name)
                        </div>
                        <p class="text-gray-700 text-base">
                            @recipe.Description
                        </p>
                    </div>
                    <div class="flex flex-row px-6 py-4 text-xs cursor-default">
                        <div class="flex flex-row px-1 py-1 mr-1" title="preparation time">
                            <img class="w-5 h-5" src="/images/preparation-time.png" />
                            <span title="preparation time" class="ml-0.5 mt-0.5 cursor-default">@recipe.PreparationTime.ToString(@"hh\:mm")</span>
                        </div>
                        <div class="flex flex-row px-1 py-1 cursor-default" title="cooking time">
                            <img class="w-5 h-5" src="/images/cooking-time.png" />
                            <span title="cooking time" class="ml-0.5 mt-0.5 cursor-default">@recipe.CookingTime.ToString(@"hh\:mm")</span>
                        </div>
                    </div>
                </FluentCard>
            </FluentGridItem>
        }
    </FluentGrid>
}
