@page "/recipes/{recipeId:guid}"
@using global::Home.Recipes.WebClient.Components.Buttons

<div class="flex flex-row justify-between">
    <SecondaryButton @onclick="@(() => _navigationManager.NavigateTo("/"))">back</SecondaryButton>
    <div>
        <SecondaryButton @onclick="@(() => _editMode = true)">Edit</SecondaryButton>
        <button @onclick="DeleteRecipeAsync">Delete</button>
    </div>
</div>

@if (_recipeDetail is null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>@_recipeDetail.Name</PageTitle>

    <h1>@_recipeDetail.Name</h1>

    <section>
        @if (_editMode)
        {
            <button @onclick="AddRecipeStepAsync">Add step</button>
        }

        <ol>
            @foreach (var item in _recipeDetail.Steps)
            {
                <li>
                    @if (_editMode)
                    {
                        <div class="flex flex-row">
                            @item
                            <SecondaryButton>edit</SecondaryButton>
                            <button>delete</button>
                        </div>
                    }
                    else
                    {
                        @item
                    }
                </li>
            }

        </ol>
    </section>

    <section>
        <ol>
            @foreach (var item in _recipeDetail.Ingredients)
            {
                <li>@item.Name</li>
            }
        </ol>
    </section>
}