@page "/recipes/{recipeId:guid}"
@using global::Home.Recipes.WebClient.Components.Buttons
@using global::Home.Recipes.WebClient.Services.Recipes.Models

<div class="flex flex-row justify-between">
    <div class="flex flex-row">
        <SecondaryButton @onclick="@(() => _navigationManager.NavigateTo("/"))">back</SecondaryButton>
        @if (_recipeDetail is not null)
        {
            <h1 class="text-2xl font-bold ml-3">@_recipeDetail.Name</h1>
        }
    </div>
    <div>
        <DeleteButton @onclick="DeleteRecipeAsync">Delete</DeleteButton>
    </div>
</div>

<hr class="my-4 border-2" />

@if (_recipeDetail is null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>@_recipeDetail.Name</PageTitle>
    <SecondaryButton @onclick="ChangeImageAsync">Change image</SecondaryButton>


    <div class="flex">
        <div class="basis-1/2">
            <img class="w-full" src=" @($"{_serverUrl}/StaticFiles/{_recipeDetail.ImagePath}")">
        </div>

        <div class="flex flex-col">
            <div class="ml-3">
                <h3 class="text-xl font-bold mb-2">Description</h3>
                <p>@_recipeDetail.Description</p>
            </div>

            <div class="flex flex-row text-xs cursor-default basis-1/5">
                <div class="flex flex-row px-1 py-1 mr-1" title="preparation time">
                    <img class="w-8 h-8" src="/images/preparation-time.png" />
                    <span class="ml-2.5 mt-2.5">Preparation time:</span>
                    <span title="preparation time" class="ml-2.5 mt-2.5 cursor-default">@_recipeDetail.PreparationTime.ToString(@"hh\:mm")</span>
                </div>
                <div class="flex flex-row px-1 py-1 cursor-default" title="cooking time">
                    <img class="w-8 h-8" src="/images/cooking-time.png" />
                    <span class="ml-2.5 mt-2.5">Cooking time:</span>
                    <span title="cooking time" class="ml-2.5 mt-2.5 cursor-default">@_recipeDetail.CookingTime.ToString(@"hh\:mm")</span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row mt-2">
        <section class="basis-1/2 border rounded p-2">
            <div class="flex flex-row mb-2">
                <h3 class="text-xl font-bold">Ingredients</h3>
                <IconButton Class="ml-2" @onclick="AddRecipeIngredientAsync" />
            </div>

            <ol>
                @foreach (var item in _recipeDetail.Ingredients)
                {
                    <li class="w-full mb-2">
                        <div class="border border-sky-500 rounded bg-gray-200 flex flex-row justify-between p-4">
                            <div class="basis-1/2">
                                <div class="flex flex-row">
                                    <span>@item.Name</span>
                                    <span class="ml-2">@item.Value</span>
                    
                                    @if (item.Type == IngredientType.Piece)
                                    {
                                        <span class="ml-2">pieces</span>
                                    }
                                    @if (item.Type == IngredientType.Mass)
                                    {
                                        <span class="ml-2">gram</span>
                                    }
                                    @if (item.Type == IngredientType.Fluid)
                                    {
                                        <span class ="ml-2">ml</span>
                                    }
                                </div>
                            </div>
                            <div>
                                <IconButton ButtonType=ButtonType.Edit @onclick="@(async () => await EditRecipeIngredientAsync(_recipeDetail.Ingredients.IndexOf(item)))" />
                                <IconButton ButtonType=ButtonType.Delete @onclick="@(async () => await RemoveRecipeIngredientAsync(_recipeDetail.Ingredients.IndexOf(item)))" Class="ml-2" />
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </section>

        <section class="basis-1/2 border rounded p-2 mx-2">
            <div class="flex flex-row mb-2">
                <h3 class="text-xl font-bold">Steps</h3>
                <IconButton Class="ml-2" @onclick="AddRecipeStepAsync" />
            </div>

            <ol>
                @foreach (var item in _recipeDetail.Steps)
                {
                    <li class="w-full mb-2">
                        <div class="border border-sky-500 rounded bg-gray-200 flex flex-row justify-between p-4">
                            <div class="basis-1/2">
                                @item
                            </div>
                            <div>
                                <IconButton ButtonType=ButtonType.Edit @onclick="@(async () => await EditRecipeAsync(_recipeDetail.Steps.IndexOf(item)))" />
                                <IconButton ButtonType=ButtonType.Delete Class="ml-2" @onclick="@(async () => await  RemoveRecipeStepAsync(_recipeDetail.Steps.IndexOf(item)))" />
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </section>
    </div>
}